:root {
  --blanco: #7f8081;
  --gris1: #edf2f6;
  --gris2: #dcdedf;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: 'Raleway', sans-serif;
  --textFont: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: #2c2917;
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: #7f8081;
  color: #ffffff;
  margin-right: 1rem;
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: #ffffff;
    flex: 0 0 300px;
  }
  .seccion-principal {
    flex: 1;
  }
}

/* BARRA LATERAL */
aside {
  padding: 3rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder {
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
}
.listado-proyectos li a {
  font-size: 1.4rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: #1b1612;
  padding: 2rem;
}
.nombre-usuario {
  color: #ffffff;
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: #ffffff;
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: #ffffff;
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
}

/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem;
  width: 100%;
  background: #fbfcfd;
}

.listado-tareas {
  max-width: 600px;
  margin: 0 auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}
.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}
.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 22rem;
  margin-top: 11px;
  padding: 1rem;
}
.tarea .btn {
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 0;
  margin: 0;
}

.estado {
  margin-right: 1rem;
}
.estado button,
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: greenyellow;
  color: var(--gris3);
}
.incompleto {
  background-color: rgba(255, 178, 178, 0.4);
  color: var(--gris3);
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}

.tarea-enter,
.proyecto-enter {
  opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tarea-exit,
.proyecto-exit {
  opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-usuario {
  background-color: var(--gris2);
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.cerrar {
  color: #ffffff;
  background-color: #1b1612;
  border: none;
}
.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type='password'],
.campo-form input[type='email'],
.campo-form input[type='text'] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: 0.7;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .alerta {
    width: auto;
    top: 30px;
    right: 10px;
    left: auto;
  }
}

@media (max-width: 1112px) {
  .crearNuevoContainer {
    margin-bottom: 12%;
  }
  .rowCrearNuevo {
    width: 785px;
  }
}
@media (max-width: 1024px) {
  .footer-right {
    display: flex;
    justify-content: center;
  }
  .footerDiv {
    width: 1024px;
    height: 325px;
    background-color: #414141;
  }
  .name {
    display: none;
  }
  .container {
    height: 522px;
  }
  .jumbotronBienvenida {
    padding: 423.5px;
    width: 100%;
    height: 91%;
  }
  .legantLogo {
    height: 385px;
    margin-top: 72%;
  }
  .legantImagen {
    width: 390px;
  }
  .cajaBienvenida {
    width: 1024px;
    height: 1336px;
  }
  .contenedorInicio {
    width: 1024px;
    height: 1040px;
  }
  .rowInicio {
    padding-top: 269px;
  }
  .seleccionDiv {
    height: 110vh;
  }
  .seleccionContainer {
    height: 100% !important;
  }
  .rowSeleccion {
    width: 100% !important;
    padding-top: 20%;
  }
}

@media (max-width: 769px) {
  .footerDiv {
    width: 100%;
    margin-top: -15%;
  }
  .cajaBienvenida {
    width: 768px;
    height: 1024px;
  }
  .legantImagen {
    width: 269px;
  }
  .app-header {
    width: 100%;
    display: block;
  }
  .contenedorInicio {
    display: flex;
    justify-content: center;
  }
  .inicioPadre {
    display: grid;
  }
  .legantLogo {
    margin-top: 40%;
  }
  .iniciarSesion {
    margin-bottom: 42%;
    padding-top: 25%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .rowCodigo {
    padding-top: 174px;
  }
  .rowCrearNuevo {
    padding-bottom: 20%;
  }
  .rowPropuesta {
    padding-bottom: 20%;
  }
  .colCrearPropuesta {
    background-color: #ffffff;
    height: 564px;
    margin-top: 130px;
    border-radius: 3%;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
  .crearNuevoIne {
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 38%;
  }
  .colIne {
    height: 576px !important;
  }
}

@media (max-width: 415px) {
  .legant {
    width: 100%;
  }
  .legantImagen {
    width: 237px;
  }
  .footerDiv {
    width: 414px;
    height: 100vh !important;
  }
  .cajaBienvenida {
    width: 414px;
  }
  .jumbotronBienvenida {
    width: 99%;
  }
  .inicioPadre {
    display: block;
    width: 57vh;
  }
  .rowInicio {
    padding-top: 75px;
  }
  .contenedorInicio {
    width: 51vh !important;
  }
}

@media (max-width: 376px) {
  .legantImagen {
    width: 220px;
  }
  .cajaBienvenida {
    width: 345px;
  }
  .footerDiv {
    margin-top: 13%;
  }
  .jumbotronBienvenida {
    width: 120%;
  }
  .inicioPadre {
    width: 57.1vh;
  }
}

@media (max-width: 320px) {
  .inicioPadre {
    width: 66vh;
  }
  .contenedorInicio {
    padding-right: 0px;
    padding-left: 0px;
  }
  .app-header {
    width: 375px;
  }
}
.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: #ffffff;
}

.btn-eliminar {
  background-color: var(--gris1);
}

.footer {
  background-color: #414141;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.name {
  color: #ffffff;
}

.cliente:hover {
  background-color: #000000;
}

.jumbotronBienvenida {
  padding: 161.5px;
  display: flex;
  justify-content: center;
  background-color: #a6d7e4;
  border-radius: 0.3rem;
}

.bienvenidaLogo {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}
.footerDiv {
  height: 231px;
  background-color: #414141;
}

.contenedorInicio {
  justify-content: center;
  display: flex;
}

.rowInicio {
  width: 600px;
}

.colInicio {
  width: 742px !important;
  background-color: white;
  height: 517px;
  margin-top: 15px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.crearNuevoIne {
  display: flex;
  justify-content: center;
  height: 590px;
}

.imgCandado {
  width: 20%;
  margin-top: 10%;
}

.divInicioDesc {
  width: 70%;
  margin-top: 2%;
}

.digitos {
  display: flex;
  height: 40%;
  justify-content: space-evenly;
  margin-top: 5%;
}

.digito {
  width: 10%;
  background-color: #edf2f6;
  height: 40%;
  font-size: 32px;
  text-align: center;
}

.btnDigitos {
  margin-top: -8%;
  width: 50%;
  height: 10%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #dc9453;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.seleccionContainer {
  width: 600px;
  height: 431px;
}

.colContainer {
  width: 500px;
  background-color: white;
  height: 420px;
  margin-top: 15px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.cajaSeleccion {
  padding: 10%;
  font-size: 16px;
}

.rowSeleccion {
  width: 54%;
}

.cajasSeleccion {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
}

.caja {
  width: 100px;
  height: 100px;
  background-color: #414141;
  text-align: center;
}

.tituloCaja {
  color: #ffffff;
  margin-top: 38%;
}

.crearNuevoContainer {
  height: auto;
  display: flex;
  justify-content: center;
}

.rowCrearNuevo {
  width: 391px;
}
.rowCLientes {
  width: 814px;
}
.contenedorFormulario {
  display: flex;
  width: 328px;
  margin-top: 7%;
}
.colClientes {
  width: 500px;
  background-color: #f5f5f5c2;
  height: 564px;
  margin-top: 20px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.colCrearNuevo {
  width: 500px;
  background-color: #ffffff;
  height: 577px;
  margin-top: 20px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.contenedorCrearNuevoDiv {
  margin-top: 39px;
}

.datosTitulo {
  font-weight: bold;
  color: #414141;
  font-size: 30px;
}

.divDescripcionNuevo {
  width: 90%;
}

.parrafoNuevo {
  font-weight: lighter;
  font-size: 12px;
}

.formularioFormNuevo {
  width: 100%;
}

.formGroupNuevo {
  text-align: justify;
}

.formGroupNuevoAceptar {
  text-align: justify;
  margin-top: 8%;
}

.formGroupNuevoAceptar {
  text-align: justify;
  margin-top: 8%;
}

.formGroupNuevoAceptar2 {
  text-align: justify;
  margin-top: 5%;
}

.btnNuevo {
  width: 50%;
}

.btnCrear {
  width: 50%;
  margin-top: 6px;
}
.rowPropuesta {
  width: 391px;
}

.btnsDiv {
  margin-top: 15%;
}

.rowIne {
  width: 550px;
}

.colIne {
  width: 520px;
  background-color: #ffffff;
  height: 565px;
  margin-top: 20px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.descripcionIne {
  width: 90%;
}

.btnIne {
  width: 100%;
}

.divFoto {
  display: flex;
}

.ine {
  width: 39%;
}

.divIne {
  display: flex;
  width: 328px;
  margin-top: -21%;
  margin-left: 34%;
}

.divBtnIne {
  margin-top: 8%;
}

.divCheck {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.divAddress {
  display: flex;
  justify-content: space-evenly;
}

.formGroupAddress {
  text-align: justify;
  width: 50%;
}

.enviar {
  color: #414141;
}

.btnEnviar {
  width: 200px;
  margin-top: 15px;
}

.colIniciar {
  height: 253px;
  width: 500px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.rowIniciar {
  margin-top: 18%;
  width: 391px;
}

.divTitulo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.divBtnEliminar {
  width: 84%;
  display: flex;
  justify-content: flex-start;
}
.iniciarSesion {
  justify-content: center;
  display: flex;
  margin-bottom: 7%;
}
.colCrearPropuesta {
  background-color: #ffffff;
  height: 458px;
  margin-top: 20px;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.crearTarea {
  justify-content: center;
}

.seleccionDiv {
  display: flex;
  justify-content: center;
}
